body{
    padding: .75rem 0;
    background: black;
    align-items: center;
}

#fotoLucas{
    padding: 1.1rem 0;
    width: 15%;
    border-radius: 100%;
    margin-bottom: 2%;
}

nav{
    display: inline;
    margin: auto;
}

nav a{
    margin-top: .75rem;
    margin: .75rem;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: bold;
    font-weight: bold;
    color: white;
    text-align: center
}

nav a:hover{
    color: cornflowerblue;
}

.titulo {
    padding-top: 1.1rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    text-align: center
}

p{
    margin-bottom: 2%;
    padding: .75rem 0;
    color: honeydew;
    font-size: 16px;
    text-align: center;
}

.conhecimentos{
    padding: .75rem 0;
    display: inline-block;
    margin: auto;
}

.fotos img{
    width: 5%;
    padding: .75rem;
    margin-bottom: 2%;
}

.fotos:hover{
    background: white;
}

.contato{
    padding: .75rem 0;
    display: inline-block;
    margin: auto;
}

@media screen and (max-width: 1111px){
    #fotoLucas{
    width: 25%;
}

.fotos img{
    width: 10%;
}

}